* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Bangers", cursive;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  background-image: url("./img/donald-giannatti-7ne3hNnojvU-unsplash.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-generator {
  max-width: 95%;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.42);
  border-radius: 10px;
}

.container h1 {
  color: rgb(49, 49, 49);
  margin-bottom: 20px;
  font-size: 44px;
}

#img-content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-content img {
  width: 100%;
  border-radius: 15px;
}

#btnLoad {
  padding: 15px 10px;
  border-radius: 10px;
  border-style: none;
  background: rgba(255, 255, 255, 0.65);
  font-family: "Bangers", cursive;
  letter-spacing: 1.5px;
}

#btnLoad:hover {
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

#dinoName {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1d1d1d;
  font-weight: bold;
  letter-spacing: 1.5px;
}

@media (max-width: 500px) {
  .container-generator {
    max-width: 320px;
  }
  .container h1 {
    font-size: 32px;
  }
}
